{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Cute Dog</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus incidunt consequatur odit culpa accusamus, tempore corporis at atque, illum nobis eos cupiditate illo! Qui perspiciatis recusandae, nisi ipsum blanditiis error?
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/dog.jpg" class="img-thumbnail">
    </div>            
</div>

{{> footer}}